/*base styles*/
:root{
	--base-type: 1rem;
	--color-bg: rgb(210, 207, 202);
	--color-font: black;
	--color-point: brown;
	--font-body: 'Cardo', serif;
	--font-bigtitle: 'Geist', sans-serif;
	--font-smalltitle: 'Oxanium', sans-serif;

	--size-sm: 1rem;
	--size-md: 2rem;
	--size-lg: 4rem;

	/*base color/font*/
	background-color: var(--color-bg);
	color: var(--color-font);
}

body {
	font-family: var(--font-body);
	font-size: 1.1rem;
	line-height: 2.4rem;
	padding: var(--size-lg);
	background-color: var(--color-bg);
}

section{
	max-inline-size: 100ch;
}

section > * + * {
	margin-block-start: var(--size-sm);
}

/*headings*/
h1,h2,li{
	font-family: var(--font-bigtitle);
}

h1{
	font-weight: 600;
	text-align: center;
	border-block: 0.7rem double var(--color-font);
	padding-block: 3rem;
	margin-block-end: var(--size-md);
	font-size: calc(5 * var(--base-type));
}

h2{
	font-size: 2.5rem;
	font-weight: 500;
	border-block: 0.15rem solid var(--color-font);
	padding-block: var(--size-md);
	margin-block-end: var(--size-md);
}

h3{
	font-family: var(--font-smalltitle);
	font-weight: 600;
	font-size: 1.5rem;
	margin-block-start: var(--size-lg);
	margin-block-end: var(--size-md);
	border-block-end: calc(var(--size-sm) / 10) solid var(--color-font);
	position: sticky;
	inset-block-start: 0;
	background-color: var(--color-bg);
	padding-block: var(--size-md);
}

p{
	margin-block-end: var(--size-md);
}

nav ul{
	display: flex;
	gap: 30rem;
}

a{
	color:var(--color-point);
}

q{
	font-weight: bold;
}

li{
	margin-block-end: var(--size-md);
	display: block;
	background-color: var(--color-font);
	color: white;
	padding-block: var(--size-sm);
	padding-inline: var(--size-sm);
}

em{
	font-style: italic;
}

cite{
	font-size: var(--size-sm);
}

blockquote{
	font-size: 1.3rem;
	font-weight: 800;
	line-height: var(--size-md);
	border-inline-start: calc(var(--size-sm) / 4) solid var(--color-point);
	padding-inline-start: var(--size-md);
	margin-block-end: var(--size-md);
	color: var(--color-font);
}

.author{
	font-size: var(--size-sm);
	font-weight: 100;
}

.epigraph{
	margin-block-end: calc(var(--size-sm) / 2);

}

.time{
	text-align: end;
	font-size: var(--size-sm);
}

.indent{
	text-indent: var(--size-sm);
}

.box{
	border: calc(var(--size-sm) / 10) solid rgb(97, 97, 97);
	padding: var(--size-sm);
}

.mrt{
	margin-block-start: var(--size-lg);

}

#reading{
	color: var(--color-point);
	text-decoration: underline;
}

#back-to-top{
	display: block;
	background-color: var(--color-font);
	color: white;
	inline-size: max-content;
	padding-inline: var(--size-sm);
	padding-block-start: 0.4rem;
	position:fixed;
	inset-block-end: var(--size-sm);
	inset-inline-end: var(--size-sm);
}
